#!/usr/bin/env python
# -*- coding: utf-8 -*-

from pymongo import MongoClient,errors
from sys import argv

host = 'localhost'
port = 27017

def responder(array,item):

    try:
        client = MongoClient(host, port)
        assert isinstance(client.test, object)
        db = client.test
        responder_array = db.command("serverStatus")[str(array)]
        return(responder_array[str(item)])
        MongoClient.close()
    except errors.ConnectionFailure, e:
        print("Failed connect to server. Refused.\n")
        exit(255)
    except errors.NetworkTimeout, e:
        print("Failet connect to server. Timeout.\n")
        exit(255)

if len(argv) == 3:
    print(responder(str(argv[1]),str(argv[2])))
else:
    print("Two arguments required. Usage: "+str(argv[0])+" [metric group] [metric]")
    exit(1)
