upstream programs_app_server {

    server {{ EDXAPP_PROGRAMS_BASE_LOCAL }}:{{ PROGRAMS_NGINX_PORT }} fail_timeout=0;
}

server {
  server_name {{ EDXAPP_PROGRAMS_BASE }};
  
  listen {{ PROGRAMS_NGINX_PORT }};
  
  {% if NGINX_ENABLE_SSL %}

  listen {{ PROGRAMS_SSL_NGINX_PORT }} ssl;

  ssl_certificate /etc/ssl/certs/{{ NGINX_SSL_CERTIFICATE|basename }};
  ssl_certificate_key /etc/ssl/private/{{ NGINX_SSL_KEY|basename }};
  # Request that the browser use SSL for all connections.
  add_header Strict-Transport-Security "max-age=31536000; includeSubDomains";

  {% endif %}

  location / {
    proxy_set_header X-Forwarded-Host $host;
    proxy_pass_header Server;
    proxy_set_header Host $http_host;
    proxy_redirect off;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header X-Scheme $scheme;
    proxy_set_header X-Forwarded-Proto $scheme;
    proxy_set_header X-Forwarded-Port $server_port;
    proxy_set_header X-Forwarded-For $remote_addr;
    proxy_pass http://programs_app_server;
  }

}

