{
"host": "{{ ANALYTICS_API_REPORTS_DB_HOST }}",
"port": "{{ ANALYTICS_API_REPORTS_DB_PORT }}",
"username": "{{ ANALYTICS_API_DATABASE_REPORTS_USERNAME }}",
"password": "{{ ANALYTICS_API_DATABASE_REPORTS_PASSWORD }}",
"database": "{{ ANALYTICS_API_REPORTS_DB_NAME }}"
}
