{
"host": "{{ EDXAPP_LMS_BASE }}",
"port": "{{ EDXAPP_MYSQL_PORT }}",
"username": "{{ INSIGHTS_LMS_MYSQL_USERNAME }}",
"password": "{{ INSIGHTS_LMS_MYSQL_PASSWORD }}",
"database": "{{ EDXAPP_MYSQL_DB_NAME }}"
}
