---
repos:
  - url: "{{ pipeline_repo }}"
    branch: "{{ ANALYTICS_PIPELINE_VERSION }}"
    dir_name: "{{ pipeline_repo_dir_name }}"

root_data_dir: "{{ root_data_dir }}"
root_log_dir: "/var/log/analytics-tasks"

override_config: "{{ HADOOP_COMMON_USER_HOME }}/override.cfg"

write_luigi_config: true

