#!/bin/bash
mysql -u{{ ANALYTICS_API_DATABASE_REPORTS_USERNAME }} -p{{ ANALYTICS_API_DATABASE_REPORTS_PASSWORD }} -h{{ ANALYTICS_API_REPORTS_DB_HOST }} --batch --skip-column-names --execute 'SELECT concat("ALTER TABLE ",TABLE_SCHEMA,".",TABLE_NAME," MODIFY COLUMN created datetime(6) NOT NULL DEFAULT CURRENT_TIMESTAMP(6);") FROM INFORMATION_SCHEMA.COLUMNS WHERE COLUMN_NAME IN ("created") AND TABLE_SCHEMA="{{ ANALYTICS_API_REPORTS_DB_NAME }}"' | mysql -u{{ ANALYTICS_API_DATABASE_REPORTS_USERNAME }} -p{{ ANALYTICS_API_DATABASE_REPORTS_PASSWORD }} -h{{ ANALYTICS_API_REPORTS_DB_HOST }}
