---
- set_fact: NGINX_ENABLE_SSL=true

- stat: path="/etc/letsencrypt/live/{{ EDXAPP_SITE_NAME }}/fullchain.pem" 
  register: le_cert_exists
  become_method: sudo
  become: yes
  become_user: root

- name: Installing certbot dependencies
  apt: name="{{ item }}" update_cache=yes
  with_items: "{{ le_packages }}"
  become_method: sudo
  become: yes
  become_user: root

- name: Creating checkout directory for nginx
  file: path=/var/www/letsencrypt state=directory mode=0755 owner=www-data group=www-data
  become_method: sudo
  become: yes
  become_user: root
  notify: reload nginx

- name: Installing certbot
  get_url:
    url: https://dl.eff.org/certbot-auto
    dest: /usr/local/bin/certbot-auto
    mode: 0755
  become_method: sudo
  become: yes
  become_user: root

- name: Performing post-installation setup
  command: /usr/local/bin/certbot-auto --non-interactive --text --os-packages-only
  become_method: sudo
  become: yes
  become_user: root
  when: le_cert_exists.stat.islnk is not defined

- name: Compare LETSENCRYPT_ADDITIONAL_DOMAIN with LMS, CMS and PREVIEW
  set_fact:
    LETSENCRYPT_ALL_DOMAIN: "{{ LETSENCRYPT_ALL_DOMAIN|default([]) + [ EDXAPP_LMS_SITE_NAME ] + [ EDXAPP_CMS_SITE_NAME ] + [ EDXAPP_PREVIEW_LMS_BASE ] }}"

- name: Compare LETSENCRYPT_ADDITIONAL_DOMAIN with LMS, CMS and PREVIEW
  set_fact:
    LETSENCRYPT_ALL_DOMAIN: "{{ LETSENCRYPT_ALL_DOMAIN|default([]) + [ item ] }}"
  with_items: "{{ LETSENCRYPT_ADDITIONAL_DOMAIN }}"
  when: LETSENCRYPT_ADDITIONAL_DOMAIN is defined

- debug: "{{ item }}"
  with_items: "{{ LETSENCRYPT_ALL_DOMAIN }}"

- name: Compare LETSENCRYPT_DOMAIN_STING
  set_fact:
    LETSENCRYPT_DOMAIN_STING: "{{ LETSENCRYPT_DOMAIN_STING|default('')+ '-d  '+item+' ' }}"
  with_items: "{{ LETSENCRYPT_ALL_DOMAIN }}"
  when: LETSENCRYPT_ALL_DOMAIN is defined

- fail:
    msg: "/usr/local/bin/certbot-auto certonly --agree-tos --non-interactive --text --rsa-key-size 2048 --webroot -w /var/www/letsencrypt {{ LETSENCRYPT_DOMAIN_STING }}  --register-unsafely-without-email --force-renewal"
   
- name: Requesting for LMS, CMS and LETSENCRYPT_ADDITIONAL_DOMAIN certificates
  command: /usr/local/bin/certbot-auto certonly --agree-tos --non-interactive --text --rsa-key-size 2048 --webroot -w /var/www/letsencrypt {{ LETSENCRYPT_DOMAIN_STING }}  --register-unsafely-without-email --force-renewal
  become_method: sudo
  become: yes
  become_user: root
  when: le_cert_exists.stat.islnk is not defined

- name: Updating nginx LMS configuration
  template:
    src: "lms.j2"
    dest: "{{ nginx_sites_available_dir }}/lms"
    force: yes
  become_method: sudo
  become: yes
  become_user: root

- name: Updating nginx CMS configuration
  template:
    src: "cms.j2"
    dest: "{{ nginx_sites_available_dir }}/cms"
    force: yes
  become_method: sudo
  become: yes
  become_user: root

- name: Updating nginx programs-multitenant-redirect configuration
  template:
    src: "programs-multitenant-redirect.j2"
    dest: "{{ nginx_sites_available_dir }}/programs-multitenant-redirect"
    force: yes
  become_method: sudo
  become: yes
  become_user: root

- name: Updating nginx credentials-multitenant-redirect configuration
  template:
    src: "credentials-multitenant-redirect.j2"
    dest: "{{ nginx_sites_available_dir }}/credentials-multitenant-redirect"
    force: yes
  become_method: sudo
  become: yes
  become_user: root

- name: Restarting nginx
  service: name=nginx state=restarted
  become_method: sudo
  become: yes
  become_user: root

- name: Add auto-renewal task in cron
  cron: 
    name: "Automatic renewal letsencrypt certificate" 
    minute: "0" 
    hour: "1"
    month: "*/2"
    job: '/usr/local/bin/certbot-auto renew --force-renewal --post-hook "service nginx restart" > /dev/null'
  become_method: sudo
  become: yes
  become_user: root

- name: Make sure nginx has started
  service:
    name: nginx
    state: started
  tags:
    - manage
    - manage:start
