{% if PLATFORM_EDXAPP_MICROSITE_CONFIGURATION is defined -%}
  {% for extra_key, extra_value in PLATFORM_EDXAPP_MICROSITE_CONFIGURATION.iteritems() -%}
    {% if extra_value['generate_lms_conf'] == True -%}
      {% do cms_env_config['MICROSITE_CONFIGURATION'].update({extra_key:extra_value}) %}
    {%- endif %}
  {%- endfor %}
{%- endif %}

{% do cms_env_config.update(EDXAPP_CMS_ENV_EXTRA) %}
{% for key, value in cms_env_config.iteritems() -%}
  {% if value == 'None' -%}
    {% do cms_env_config.update({key: None }) %}
  {%- endif %}
{%- endfor %}

{% set keys_to_del = {} %}

{% for outer_key, outer_value in lms_env_config.iteritems() -%}
  {% if outer_key == 'MICROSITE_CONFIGURATION' -%}
    {% for inner_key, inner_value in outer_value.iteritems() -%}
	  {% for inner_inner_key, inner_inner_value in inner_value.iteritems() -%}
          {% if inner_inner_key == 'generate_lms_conf' and inner_inner_value|bool == False -%}
		     {% do keys_to_del.update({inner_key: 'del'}) %} 
          {%- endif %}
	  {%- endfor %}
	{%- endfor %}
  {%- endif %}
{%- endfor %}

{% for key, value in lms_env_config.iteritems() -%}
  {% if key == 'MICROSITE_CONFIGURATION' -%}
    {% for new_key, new_value in keys_to_del.iteritems() -%}
      {% do value.pop(new_key) %} 
    {%- endfor %}
  {%- endif %}
{%- endfor %}

{{ cms_env_config | to_nice_json }}
