upstream credentials_app_server {
    server {{ EDXAPP_CREDENTIALS_BASE_LOCAL }}:{{ CREDENTIALS_NGINX_PORT }} fail_timeout=0;
}

server {
  server_name {{ EDXAPP_CREDENTIALS_BASE }};

  {% if CREDENTIALS_NGINX_REDIRECT %}  
  listen {{ CREDENTIALS_NGINX_REDIRECT_PORT }};
  {% else %}
  listen {{ CREDENTIALS_NGINX_PORT }};
  {% endif %}

  {% if NGINX_ENABLE_SSL %}
  {% if CREDENTIALS_NGINX_REDIRECT %}
  listen {{ CREDENTIALS_NGINX_REDIRECT_SSL_PORT }} ssl proxy_protocol;
  {% else %}
  listen {{ CREDENTIALS_SSL_NGINX_PORT }} ssl proxy_protocol;
  {% endif %}

  ssl_certificate /etc/letsencrypt/live/{{ EDXAPP_LMS_SITE_NAME }}/fullchain.pem;
  ssl_certificate_key /etc/letsencrypt/live/{{ EDXAPP_LMS_SITE_NAME }}/privkey.pem;
  # Request that the browser use SSL for all connections.
  add_header Strict-Transport-Security "max-age=31536000; includeSubDomains";

  ssl_protocols           TLSv1 TLSv1.1 TLSv1.2;
  # Diffie-Hellman parameter for DHE ciphersuites, recommended 2048 bits
  ssl_dhparam {{ dhparamfile_dir }}/dhparam.pem;
  ssl_session_timeout  24h;
  ssl_session_cache shared:SSL:50m;
  ssl_ciphers 'ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-AES256-GCM-SHA384:DHE-RSA-AES128-GCM-SHA256:DHE-DSS-AES128-GCM-SHA256:kEDH+AESGCM:ECDHE-RSA-AES128-SHA256:ECDHE-ECDSA-AES128-SHA256:ECDHE-RSA-AES128-SHA:ECDHE-ECDSA-AES128-SHA:ECDHE-RSA-AES256-SHA384:ECDHE-ECDSA-AES256-SHA384:ECDHE-RSA-AES256-SHA:ECDHE-ECDSA-AES256-SHA:DHE-RSA-AES128-SHA256:DHE-RSA-AES128-SHA:DHE-DSS-AES128-SHA256:DHE-RSA-AES256-SHA256:DHE-DSS-AES256-SHA:DHE-RSA-AES256-SHA:!aNULL:!eNULL:!EXPORT:!DES:!RC4:!3DES:!MD5:!PSK';
  ssl_stapling on;
  ssl_stapling_verify on;
  ssl_prefer_server_ciphers   on;
  ssl_trusted_certificate     /etc/ssl/certs/ca-certificates.crt;
  resolver                8.8.8.8;

  {% endif %}

  location '/.well-known/acme-challenge' {
    allow all;
    default_type "text/plain";
    root /var/www/letsencrypt;
  }

  location / {
    proxy_set_header X-Forwarded-Host $host;
    proxy_pass_header Server;
    proxy_set_header Host $http_host;
    proxy_redirect off;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header X-Scheme $scheme;
    proxy_set_header X-Forwarded-Proto $scheme;
    proxy_set_header X-Forwarded-Port $server_port;
    proxy_set_header X-Forwarded-For $remote_addr;
    proxy_pass http://credentials_app_server;
  }

}

